.header {            
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url(../assets/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.buttons {
    display: flex;
}
.button {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
p {
    margin-bottom: 40px;
    text-align: center;
}
.main-container {
    justify-items: center;
    display: flex;
    margin: 0 50px 0 50px;
}
.banner {            
    width: auto;
    height: auto;
    margin: 0 10px 0 50px;
    overflow: hidden;
    border-radius: 10PX;
}
.banner img {
    width: 100%;
    height: auto;
}
.form-container {
    margin: 0 10px 0 50px;
    align-items: center;
    width: 400px;
    height: 600px;
    padding: 30px;
    background-color: #3a27273a;
    border-radius: 10PX;
}
.form-input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid #7c505042;
    border-radius: 10px;
}
.send-button {
    padding: 10px 20px;
    background-color: #061320;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.send-button:disabled {
    background-color: #ff0000;
    cursor: not-allowed;
}
.bottom-content {
    justify-items: center;
    display: flex;
    margin: 50px 50px 0 50px;
}
.bottom {         
    margin: 0 10px 0 200px;
    width: 100%;
    background-color: #3a27273a;
    border-radius: 10%;
    padding: 30px;
}
.bottom img {            
    width: 30PX;
    height: 30px;
}
.side {
    margin: 0 200px 0 10px;
    width: 100%;
    padding: 30px;
    background-color: #3a27273a;
    border-radius: 10%;
    text-align: center;
}